@model PPC_1.Models.Disciplina
@{
    ViewBag.Title = "CadastroDisciplina";
}

<section class="content-header">
    <h1>
        Disciplina
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Disciplina</a></li>
        <li class="active">Cadastro de Disciplina</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastrar Disciplina</h3>
                </div>
                <form role="form" method="post" action="NovaDisciplina">
                    <div class="box-body">
                        <div class="form-group col-xs-12">
                            <label>Selecione um Curso</label>
                            @*@Html.HiddenFor(x => x.IdCurso, new { id = "preencheautoidcurso" })
                            <select class="form-control selectCurso">
                                <option value="0">< Selecione o Curso ></option>
                                @foreach (var item in ViewBag.ListaDeCursos)
                                {
                                    <option value="@item.Id">@item.DenominacaoCurso</option>
                                }
                            </select>*@
                            <label>Nome da Disciplina</label>
                            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", type = "text"})
                            <label>Semestre</label>
                            @Html.TextBoxFor(x => x.Semestre, new { @class = "form-control", type = "number"})
                            <label>Carga Horária</label>
                            @Html.TextBoxFor(x => x.CargaHoraria, new { @class = "form-control", type = "number"})
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right espaco" name="salvar">Salvar</button>
                            <a href="" class="btn btn-warning pull-right espaco" name="cancelar">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>