@model PPC_1.Models.Livro
@{
    ViewBag.Title = "CadastrarBibliografia";
}

<section class="content-header">
    <h1>
        Bibliografia
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Bibliografia</a></li>
        <li class="active">Nova Bibliografia</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastrar Bibliografia</h3>
                </div>
                <form role="form" action="/Home/NovoBibliografia" method="post">
                    <div class="box-body">
                        @*<div class="form-group col-xs-6">
            @*<label>Curso</label>
            <select class="form-control">
                <option>< Selecione um Curso ></option>
                @foreach (var item in ViewBag.ListaDeCursos)
                {
                    <option value="@item.Id">@item.DenominacaoCurso</option>
                }
            </select>
        </div>*@
                        @*<div class="form-group col-xs-6">
            <label>Disciplina</label>
            <select class="form-control">
                <option>< Selecione uma Disciplina ></option>
                @foreach (var item in ViewBag.ListaDeDisciplinas)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            </select>
        </div>*@
                        <div class="form-group col-xs-12">
                            <h4>Referencia Bibliografica</h4>
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Título</label>
                            @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Autor</label>
                            @Html.TextBoxFor(x => x.Autor, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>ISBN</label>
                            @Html.TextBoxFor(x => x.ISBN, new { @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Ano</label>
                            @Html.TextBoxFor(x => x.Ano, new { @class = "form-control", type = "date" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Editora</label>
                            @Html.TextBoxFor(x => x.Editora, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group col-xs-3">
                            <label>Edição</label>
                            @Html.TextBoxFor(x => x.Edicao, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group col-xs-3">
                            <label>Quantidade Disponível</label>
                            @Html.TextBoxFor(x => x.QuantidadeDisponivel, new { @class = "form-control", type = "number" })
                        </div>
                        <button class="btn btn-primary pull-right espaco" name="cadastrar">Cadastrar</button>
                        <a class="btn btn-warning pull-right espaco" name="cancelar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


