@model PPC_1.Models.Ppc
@{
    ViewBag.Title = "CadastroPPC";
}



    <section class="content-header">
        <h1>
            PPCs
            <small>Todos os PPCs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">PPC</a></li>
            <li class="active">Novo PPC</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Todos os PPCs</h3>
                    </div>
                    <form role="form" action="/Home/NovoPPC">
                        <div class="box-body">
                            <div class="form-group col-xs-5">
                                <label>Cursos</label>
                                <select class="form-control selectCurso">
                                    <option value="0">< Selecione o Curso ></option>
                                    @foreach (var item in ViewBag.ListaDeCursos)
                                    {
                                        <option value="@item.Id">@item.DenominacaoCurso</option>
                                    }
                                </select>
                            </div>
                            @Html.HiddenFor(x => x.IdCurso, new { type = "hidden", id = "preencheautoidcurso" })
                            <div class="form-group col-xs-6 pull-right">
                                <label>Perfil Curso:</label>
                                @Html.TextBoxFor(x => x.PerfilDoCurso, new { @class = "form-control", type = "text", id = "PerfilDoCurso" })
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Perfil Egresso:</label>
                                @Html.TextBoxFor(x => x.PerfilDoEgresso, new { @class = "form-control", type = "text", id = "PerfilDoEgresso"})
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Forma de Acesso Curso:</label>
                                @Html.TextBoxFor(x => x.FormaDeAcesso, new { @class = "form-control", type = "text", id = "FormaDeAcesso" })
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Representação Gráfica de um perfil de Formação:</label>
                                @Html.TextBoxFor(x => x.RepresetacaoGrafica, new { @class = "form-control", type = "text", id = "RepresetacaoGrafica" })
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Sistema de Avaliação do Processo Ensino Aprendizagem:</label>
                                @Html.TextBoxFor(x => x.SistemaAvaliacaoEnsinoAprendizagem, new { @class = "form-control", type = "text", id = "SistemaAvaliacaoEnsinoAprendizagem" })
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Sistema de Avaliação do Projeto do Curso:</label>
                                @Html.TextBoxFor(x => x.SistemaAvaliacaoCurso, new { @class = "form-control", type = "text", id = "SistemaAvaliacaoCurso" })
                            </div>
                            <div class="form-group col-xs-3">
                                <label>TCC</label>
                                @Html.TextBoxFor(x => x.TCC, new { @class = "form-control", type = "text", id = "TCC" })
                            </div>
                            <div class="form-group col-xs-3">
                                <label>Estágio Curricular:</label>
                                @Html.TextBoxFor(x => x.EstagioCurricular, new { @class = "form-control", type = "text", id = "EstagioCurricular" })
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Políticas de Atendimento a Pessoas com Deficiências e/ou Mobilidade Reduzida:</label>
                                @Html.TextAreaFor(x => x.PraticaAtenPCD, new { @class = "form-control", type = "text", rows = "3", placeholder = "Texto ...", id = "PraticaAtenPCD" })
                            </div>
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-primary pull-right espaco salvarppc">Salvar</button>
                                <button class="btn btn-warning pull-right">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
    
