@model PPC_1.Models.Curso
@{
    ViewBag.Title = "ConsultarCurso";
}

<section class="content-header">
    <h1>
        Cursos
        <small>Listas de todos os Cursos cadastrados</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Curso</a></li>
        <li class="active">Todos os Cursos</li>
    </ol>
</section>
<section id="tdCursos" class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID Curso</th>
                                <th>Tipo do Curso</th>
                                <th>Denominação</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListaDeCursos)
                            {
                            <tr>
                                <td><button iddocurso="@item.Id" class="btn btn-primary CarregarCursos" id="listaDeCursos" >Abrir</button></td>
                                <td>@item.Id</td>
                                <td>@item.TipoDeCurso</td>
                                <td>@item.DenominacaoCurso</td>
                                <td>
                                    <a href="/Home/excluirCurso?id=@item.Id" class="btn btn-danger">Excluir</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>ID Curso</th>
                                <th>Tipo do Curso</th>
                                <th>Denominação</th>
                                <th>Opções</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tabelaescondida" class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form role="form" action="/Home/AtualizarCurso">
                    <div class="box-body">
                        @Html.HiddenFor(x => x.Id, new { id="Id_Curso" })
                        <div class="form-group col-xs-6">
                            <label>Tipo do Curso</label>
                            @Html.TextBoxFor(x => x.TipoDeCurso, new { @class = "form-control", id = "TipoDeCurso", type = "text", placeholder = "Tipo ..." })
                        </div>
                        <div class="form-group col-xs-6 pull-right">
                            <label>Modalidade:</label>
                            @Html.TextBoxFor(x => x.Modalidade, new { @class = "form-control", id = "Modalidade", type = "text", placeholder = "Modalidade ..." })
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Denominação do Curso:</label>
                            @Html.TextBoxFor(x => x.DenominacaoCurso, new { @class = "form-control", id = "Denominacao", type = "text" })
                        </div> 
                        <div class="form-group col-xs-6">
                            <label>Habilitação:</label>
                            @Html.TextBoxFor(x => x.Habilitacao, new { @class = "form-control", id = "Habilitacao", type = "text", placehilder = "Habilitação..." })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Local de Oferta:</label>
                            @Html.TextBoxFor(x => x.LocalDeOferta, new { @class = "form-control", id = "LocalOferta", type = "text" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Turnos de Funcionamento:</label>
                            @Html.TextBoxFor(x => x.TurnosDeFuncionamento, new { @class = "form-control", id = "TurnosDeFuncionamento", type = "text" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Números de vagas para cada turno:</label>
                            @Html.TextBoxFor(x => x.NumerosDeVagasCadaTurno, new { @class = "form-control", id = "NumeroDeVagas", type = "text" })
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Carga Horária do Curso</label>
                            @Html.TextBoxFor(x => x.CargaHorariaDoCurso, new { @class = "form-control-static", id = "CargaHorariaDoCurso", maxlength = "10", type = "number" })
                        </div>
                        <div class="form-group col-xs-12">
                            <h4>Estrutura Curricular</h4>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Regime Letivo:</label>
                            @Html.TextBoxFor(x => x.RegimeLetivo, new { @class = "form-control", id = "RegimeLetivo", type = "text" })
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Periodos:</label>
                            @Html.TextBoxFor(x => x.Periodos, new { @class = "form-control", id = "Periodos", type = "text", placeholder = "Texto ..." })
                        </div>
                        <div class="form-group col-xs-12">
                            <h4>Coordenador do Curso</h4>
                        </div>
                        <div class="form-group col-xs-10">
                            <label>Nome</label>
                            <select class="form-control selectCoordenador" id="selecaoDeCoordenador"></select>
                        </div>
                        @Html.HiddenFor(x => x.CoordenadorCurso, new { type = "hidden", id = "preencheautoid" })
                        <div class="form-group col-xs-2">
                            <a class="form-control btn btn-info">+ Coordenador</a>
                        </div>
                        <div class="form-group col-xs-5">
                            <label>CPF</label>
                            <input type="number" class="form-control" id="preencheautoCpf" readonly />
                        </div>
                        <div class="form-group col-xs-7">
                            <label>Titulação</label>
                            <input type="text" class="form-control" id="preencheautoMTitulacao" readonly />
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right espaco" id="salvar">Salvar</button>
                            <a href="/Home/ConsultarCurso" class="btn btn-warning pull-right espaco">Cancelar</a>
                            <a class="btn btn-warning pull-right espaco" id="alterarCadastroCurso">Alterar</a>
                            <a href="/Home/ConsultarCurso" class="btn btn-info pull-right espaco">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

